<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ meta.title }}</title>

{{! Meta }}
<meta name="title" content="{{ meta.title }}">
<meta name="description" content="{{ meta.description }}">
<meta name="author" content="Lonely Planet">
<meta name="theme-color" content="#1d508d">
<meta name="fb:app_id" content="111537044496">

{{! Schema / Microdata }}
<meta itemprop="name" content="Lonely Planet">
<meta itemprop="description" content="{{ meta.description }}">
{{! <meta itemprop="image" content=""> }}

{{! Twitter }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@lonelyplanet">

{{! Open Graph }}
<meta property="og:site_name" content="Lonely Planet">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ meta.title }}">
{{! <meta property="og:url" content=""> }}
<meta property="og:description" content="{{ meta.description }}">
{{! <meta property="og:image" content=""> }}

{{! Canonical URL }}
{{! <link rel="canonical" href=""> }}

{{! Sailthru }}
{{! <meta name="sailthru.date" content=""> }}
{{! <meta name="sailthru.tags" content=""> }}

{{! Google+ }}
<link rel="publisher" href="https://plus.google.com/+LonelyPlanet/">

<link href="https://www.lonelyplanet.com/favicon.ico" rel="icon" type="image/x-icon">
